@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.cc {
  align-items: center;
  justify-content: center;
}

.fg-grad {
  background: linear-gradient(to right, #f3f4f6, #60a5fa, #1d4ed8);
}

.fg-grad-r {
  background: linear-gradient(to right, #1d4ed8, #60a5fa, #f3f4f6);
}
