@import '../styles/_variables.scss';
@import '../styles/_keyframe-animations.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.cc {
  @apply items-center justify-center
}

.fg-grad {
  @apply bg-gradient-to-r from-white via-blue-400 to-blue-800
}

.fg-grad-r {
  @apply bg-gradient-to-r from-blue-800 via-blue-400 to-white
}
